In [1]:
import pandas as pd

In [2]:
pwd

'/Users/jinsungpark/Desktop/jupyter'

In [5]:
ls

2020_공모전/
IMG_0221.png
Python/
Unity/
etc/
jupyter/
result/
result02/
과외/
시디1_05.pdf
임시/
졸논_서론_피드백.docx
덕곡_함안.xlsx
졸논_본문_피드백.pptx
시각디자인/
졸업논문/
환경공학/
현풍대암덕곡_데이터.xlsx
대암덕곡상류유사도.xlsx

In [4]:
cd /Users/jinsungpark/Desktop

/Users/jinsungpark/Desktop

In [15]:
# df = pd.read_excel('논공_덕곡.xlsx', sheet_name = '논공_현풍')
# df = pd.read_excel('논공_덕곡.xlsx', sheet_name = '현풍_대암-1')
# df = pd.read_excel('논공_덕곡.xlsx', sheet_name = '대암-1_덕곡')
df = pd.read_excel('덕곡_함안.xlsx')

In [16]:
df.head()

,함안_일자,개방유무1,덕곡_DO(㎎/L),덕곡_BOD(㎎/L),덕곡_COD(㎎/L),덕곡_SS(㎎/L),덕곡_TN(㎎/L),덕곡_TP(㎎/L),덕곡_수온(℃),덕곡_클로로필a(㎎/㎥),...,토평천2_클로로필a(㎎/㎥),토평천2_유량(㎥/s),함안_DO(㎎/L),함안_BOD(㎎/L),함안_COD(㎎/L),함안_SS(㎎/L),함안_TN(㎎/L),함안_TP(㎎/L),함안_수온(℃),함안_클로로필a(㎎/㎥)
0,2013-01-07,0,15.600000,1.20000,3.000000,14.900000,3.621000,0.055000,1.700000,2.300000,...,12.80000,0.604000,14.1,1.5,4.6,6.3,4.246,0.044,3.1,14.3
1,2013-01-14,0,15.300000,0.70000,3.200000,1.700000,3.659000,0.021000,1.700000,1.700000,...,13.50000,0.611000,13.7,1.2,4.1,6.0,3.273,0.041,3.0,11.0
2,2013-01-21,0,15.289844,1.53681,4.391654,12.515545,3.967192,0.037781,2.554906,11.657649,...,13.54174,0.873418,14.0,1.9,4.8,6.3,3.654,0.036,2.7,18.5
3,2013-01-28,0,15.400000,2.30000,5.800000,5.100000,4.199000,0.031000,3.400000,20.500000,...,8.00000,0.910000,14.8,2.4,5.6,7.7,4.194,0.037,4.4,23.3
4,2013-02-04,0,14.500000,1.30000,5.700000,8.600000,4.670000,0.050000,4.600000,20.700000,...,22.10000,3.187000,13.5,1.9,5.4,24.3,4.172,0.072,5.7,15.5

In [17]:
# df = df.drop('논공_일자', axis = 1)
# df = df.drop('대암-1_일자', axis = 1)
df = df.drop('함안_일자', axis = 1)
df = df.drop('개방유무1', axis = 1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 83 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   덕곡_DO(㎎/L)             349 non-null    float64
 1   덕곡_BOD(㎎/L)            349 non-null    float64
 2   덕곡_COD(㎎/L)            349 non-null    float64
 3   덕곡_SS(㎎/L)             349 non-null    float64
 4   덕곡_TN(㎎/L)             349 non-null    float64
 5   덕곡_TP(㎎/L)             349 non-null    float64
 6   덕곡_수온(℃)               349 non-null    float64
 7   덕곡_클로로필a(㎎/㎥)          349 non-null    float64
 8   칠서산단_COD(㎎/L)          349 non-null    float64
 9   칠서산단_SS(㎎/L)           349 non-null    float64
 10  칠서산단_TN(㎎/L)           349 non-null    float64
 11  칠서산단_TP(㎎/L)           349 non-null    float64
 12  칠서산단_적산유량(평균)(㎥/Hour)  349 non-null    float64
 13  칠서산단_일적산유량(㎥/일)        349 non-null    float64
 14  칠서산단_BOD부하(kg/일)       0 non-null      float64
 15  칠서산단_COD부하(kg/일)       349 non-null    float64
 16  칠서산단_SS부하(kg/일)        349 non-null    float64
 17  칠서산단_TN부하(kg/일)        349 non-null    float64
 18  칠서산단_TP부하(kg/일)        349 non-null    float64
 19  북창원_일주누적강수량(mm)        349 non-null    float64
 20  북창원_일주평균일사량(MJ/m2)     349 non-null    float64
 21  황강5_DO(㎎/L)            349 non-null    float64
 22  황강5_BOD(㎎/L)           349 non-null    float64
 23  황강5_COD(㎎/L)           349 non-null    float64
 24  황강5_SS(㎎/L)            349 non-null    float64
 25  황강5_TN(㎎/L)            349 non-null    float64
 26  황강5_TP(㎎/L)            349 non-null    float64
 27  황강5_수온(℃)              349 non-null    float64
 28  황강5_클로로필a(㎎/㎥)         349 non-null    float64
 29  황강5_유량(㎥/s)            349 non-null    float64
 30  신반천_DO(㎎/L)            349 non-null    float64
 31  신반천_BOD(㎎/L)           349 non-null    float64
 32  신반천_COD(㎎/L)           349 non-null    float64
 33  신반천_SS(㎎/L)            349 non-null    float64
 34  신반천_TN(㎎/L)            349 non-null    float64
 35  신반천_TP(㎎/L)            349 non-null    float64
 36  신반천_수온(℃)              349 non-null    float64
 37  신반천_클로로필a(㎎/㎥)         349 non-null    float64
 38  신반천_유량(㎥/s)            349 non-null    float64
 39  남강4-1_DO(㎎/L)          349 non-null    float64
 40  남강4-1_BOD(㎎/L)         349 non-null    float64
 41  남강4-1_COD(㎎/L)         349 non-null    float64
 42  남강4-1_SS(㎎/L)          349 non-null    float64
 43  남강4-1_TN(㎎/L)          349 non-null    float64
 44  남강4-1_TP(㎎/L)          349 non-null    float64
 45  남강4-1_수온(℃)            349 non-null    float64
 46  남강4-1_클로로필a(㎎/㎥)       349 non-null    float64
 47  남강4-1_유량(㎥/s)          349 non-null    float64
 48  계성천_DO(㎎/L)            349 non-null    float64
 49  계성천_BOD(㎎/L)           349 non-null    float64
 50  계성천_COD(㎎/L)           349 non-null    float64
 51  계성천_SS(㎎/L)            349 non-null    float64
 52  계성천_TN(㎎/L)            349 non-null    float64
 53  계성천_TP(㎎/L)            349 non-null    float64
 54  계성천_수온(℃)              349 non-null    float64
 55  계성천_클로로필a(㎎/㎥)         349 non-null    float64
 56  계성천_유량(㎥/s)            349 non-null    float64
 57  광려천3_DO(㎎/L)           349 non-null    float64
 58  광려천3_BOD(㎎/L)          349 non-null    float64
 59  광려천3_COD(㎎/L)          349 non-null    float64
 60  광려천3_SS(㎎/L)           349 non-null    float64
 61  광려천3_TN(㎎/L)           349 non-null    float64
 62  광려천3_TP(㎎/L)           349 non-null    float64
 63  광려천3_수온(℃)             349 non-null    float64
 64  광려천3_클로로필a(㎎/㎥)        349 non-null    float64
 65  광려천3_유량(㎥/s)           349 non-null    float64
 66  토평천2_DO(㎎/L)           349 non-null    float64
 67  토평천2_BOD(㎎/L)          349 non-null    float64
 68  토평천2_COD(㎎/L)          349 non-null    float64
 69  토평천2_SS(㎎/L)           349 non-null    float64
 70  토평천2_TN(㎎/L)           349 non-null    float64
 71  토평천2_TP(㎎/L)           349 non-null    float64
 72  토평천2_수온(℃)             349 non-null    float64
 73  토평천2_클로로필a(㎎/㎥)        349 non-null    float64
 74  토평천2_유량(㎥/s)           349 non-null    float64
 75  함안_DO(㎎/L)             349 non-null    float64
 76  함안_BOD(㎎/L)            349 non-null    float64
 77  함안_COD(㎎/L)            349 non-null    float64
 78  함안_SS(㎎/L)             349 non-null    float64
 79  함안_TN(㎎/L)             349 non-null    float64
 80  함안_TP(㎎/L)             349 non-null    float64
 81  함안_수온(℃)               349 non-null    float64
 82  함안_클로로필a(㎎/㎥)          349 non-null    float64
dtypes: float64(83)
memory usage: 226.4 KB

In [19]:
# pearson 상관계수
corr_p = df.corr(method='pearson')

In [20]:
# spearman 상관계수
corr_s = df.corr(method='spearman')

In [ ]:
# kendall 상관계수
# corr_k = df.corr(method='kendall')

In [ ]:
# corr_p.to_excel('corr_p(논공_현풍).xlsx')
# corr_s.to_excel('corr_s(논공_현풍).xlsx')
# corr_k.to_excel('corr_k(논공_현풍).xlsx')

In [ ]:
# corr_p.to_excel('corr_p(현풍_대암).xlsx')
# corr_s.to_excel('corr_s(현풍_대암).xlsx')
# corr_k.to_excel('corr_k(현풍_대암).xlsx')

In [ ]:
# corr_p.to_excel('corr_p(대암_덕곡).xlsx')
# corr_s.to_excel('corr_s(대암_덕곡).xlsx')
# corr_k.to_excel('corr_k(대암_덕곡).xlsx')

In [21]:
corr_p.to_excel('corr_p(덕곡_함안).xlsx')
corr_s.to_excel('corr_s(덕곡_함안).xlsx')
# corr_k.to_excel('corr_k(대암_덕곡).xlsx')