In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/Users/jinsungpark/Desktop/jupyter'

In [3]:
ls

Analyse_Find_BestModel_Result.ipynb
Correlation_analysis.ipynb
Data_Preprocessing.ipynb
Data_river/
Lab10_Stock_Price_Prediction_with_LSTM.ipynb
Pandas_tutorial.ipynb
Project_Git/
Project_River_Backup.ipynb
Project_River_Backup_change_TN.ipynb
Project_River_Backup_change_TP.ipynb
Project_River_Backup_change_test.ver.ipynb
Project_River_Find_BestModel.ipynb
Project_River_Find_BestModel_01.ipynb
Project_River_Find_BestModel_TN.ipynb
Project_River_Find_BestModel_TP(현풍-대암).ipynb
Project_River_Find_BestModel_TP(현풍-대암_input적은버전).ipynb
Project_River_Find_BestModel_TP.ipynb
Project_River_matplotlib.ipynb
Project_River_matplotlib_01.ipynb
Untitled.ipynb
results/

In [4]:
cd /Users/jinsungpark/Desktop/jupyter/Data_river/original02

/Users/jinsungpark/Desktop/jupyter/Data_river/original02

In [24]:
df = pd.read_excel('논공_덕곡.xlsx', sheet_name = '논공_현풍')
# df = df.set_index('Date')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   현풍_일자                  290 non-null    datetime64[ns]
 1   논공_DO(㎎/L)             290 non-null    float64
 2   논공_BOD(㎎/L)            290 non-null    float64
 3   논공_COD(㎎/L)            290 non-null    float64
 4   논공_SS(㎎/L)             290 non-null    float64
 5   논공_TN(㎎/L)             290 non-null    float64
 6   논공_TP(㎎/L)             290 non-null    float64
 7   논공_수온(℃)               290 non-null    float64
 8   논공_클로로필a(㎎/L)          290 non-null    float64
 9   달성산단_COD(㎎/L)          290 non-null    float64
 10  달성산단_SS(㎎/L)           290 non-null    float64
 11  달성산단_TN(㎎/L)           290 non-null    float64
 12  달성산단_TP(㎎/L)           290 non-null    float64
 13  달성산단_적산유량(평균)(㎥/Hour)  290 non-null    float64
 14  달성산단_일적산유량(㎥/일)        290 non-null    float64
 15  의령군_일강수량(mm)           290 non-null    float64
 16  의령군_일주누적강수량(mm)        290 non-null    float64
 17  의령군_합계일사량(MJ/m2)       290 non-null    float64
 18  의령군_일주평균일사량(MJ/m2)     290 non-null    float64
 19  현풍_DO(㎎/L)             290 non-null    float64
 20  현풍_BOD(㎎/L)            290 non-null    float64
 21  현풍_COD(㎎/L)            290 non-null    float64
 22  현풍_SS(㎎/L)             290 non-null    float64
 23  현풍_TN(㎎/L)             290 non-null    float64
 24  현풍_TP(㎎/L)             290 non-null    float64
 25  현풍_수온(℃)               290 non-null    float64
 26  현풍_클로로필a(㎎/㎥)          290 non-null    float64
dtypes: datetime64[ns](1), float64(26)
memory usage: 61.3 KB

In [26]:
df.rename(columns=lambda x: x.replace('다사', 'DS'), inplace=True)
df.rename(columns=lambda x: x.replace('논공', 'NG'), inplace=True)
df.rename(columns=lambda x: x.replace('금호강6', 'GumHo'), inplace=True)
df.rename(columns=lambda x: x.replace('대구서부', 'SeoBu'), inplace=True)
df.rename(columns=lambda x: x.replace('성서폐수', 'SungSeo'), inplace=True)
df.rename(columns=lambda x: x.replace('강정고령보', 'GJ'), inplace=True)
df.rename(columns=lambda x: x.replace('클로로필a', 'Chl_a'), inplace=True)
df.rename(columns=lambda x: x.replace('유해남조류세포수', 'Cells'), inplace=True)
df.rename(columns=lambda x: x.replace('일주평균일사량', 'Solar'), inplace=True)
df.rename(columns=lambda x: x.replace('일주누적강수량', 'Rain'), inplace=True)
df.rename(columns=lambda x: x.replace('대구', 'DaeGu'), inplace=True)
df.rename(columns=lambda x: x.replace('수온', 'Temp'), inplace=True)
df.rename(columns=lambda x: x.replace('부하', '_load'), inplace=True)
df.rename(columns=lambda x: x.replace('개방유무1', 'Door'), inplace=True)
df.rename(columns=lambda x: x.replace('수심', 'Deep'), inplace=True)
df.rename(columns=lambda x: x.replace('총방류량', 'Outflow'), inplace=True)
df.rename(columns=lambda x: x.replace('일적산유량', 'Flow_day'), inplace=True)
df.rename(columns=lambda x: x.replace('적산유량(㎥/일)', 'Flow_day'), inplace=True)
df.rename(columns=lambda x: x.replace('적산유량(평균)', 'Flow_mean'), inplace=True)
df.rename(columns=lambda x: x.replace('유량', 'Flow'), inplace=True)
df.rename(columns=lambda x: x.replace('수위', 'Level'), inplace=True)

df.rename(columns=lambda x: x.replace('현풍_일자', 'Date'), inplace=True)
df.rename(columns=lambda x: x.replace('덕곡_일자', 'Date'), inplace=True)
df.rename(columns=lambda x: x.replace('대암-1_일자', 'Date'), inplace=True)
df.rename(columns=lambda x: x.replace('대암-1_', 'DA_'), inplace=True)
df.rename(columns=lambda x: x.replace('현풍_', 'HP_'), inplace=True)
df.rename(columns=lambda x: x.replace('차천_', 'ChaCh_'), inplace=True)
df.rename(columns=lambda x: x.replace('의령군_', 'UiR_'), inplace=True)
df.rename(columns=lambda x: x.replace('덕곡_', 'DG_'), inplace=True)
df.rename(columns=lambda x: x.replace('회천2-1', 'HCh_'), inplace=True)
df.rename(columns=lambda x: x.replace('차천_', 'ChaCh_'), inplace=True)
df.rename(columns=lambda x: x.replace('달성산단', 'DalS'), inplace=True)

df.rename(columns=lambda x: x.replace('(㎎/L)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(℃)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(cells/mL)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(El.m)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(MJ/m2)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(㎥/Hour)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(kg/일)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(mm)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(㎎/㎥)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(㎥/s)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(m)', ''), inplace=True)
df.rename(columns=lambda x: x.replace('(㎥/일)', ''), inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            290 non-null    datetime64[ns]
 1   NG_DO           290 non-null    float64
 2   NG_BOD          290 non-null    float64
 3   NG_COD          290 non-null    float64
 4   NG_SS           290 non-null    float64
 5   NG_TN           290 non-null    float64
 6   NG_TP           290 non-null    float64
 7   NG_Temp         290 non-null    float64
 8   NG_Chl_a        290 non-null    float64
 9   DalS_COD        290 non-null    float64
 10  DalS_SS         290 non-null    float64
 11  DalS_TN         290 non-null    float64
 12  DalS_TP         290 non-null    float64
 13  DalS_Flow_mean  290 non-null    float64
 14  DalS_Flow_day   290 non-null    float64
 15  UiR_일강수량        290 non-null    float64
 16  UiR_Rain        290 non-null    float64
 17  UiR_합계일사량       290 non-null    float64
 18  UiR_Solar       290 non-null    float64
 19  HP_DO           290 non-null    float64
 20  HP_BOD          290 non-null    float64
 21  HP_COD          290 non-null    float64
 22  HP_SS           290 non-null    float64
 23  HP_TN           290 non-null    float64
 24  HP_TP           290 non-null    float64
 25  HP_Temp         290 non-null    float64
 26  HP_Chl_a        290 non-null    float64
dtypes: datetime64[ns](1), float64(26)
memory usage: 61.3 KB

In [31]:
# UpStream_Data = df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,22]]
# DownStream_Data = df.iloc[:,[0,23,24,25,26,27,28,29,30]]

UpStream_Data = df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,18]]
DownStream_Data = df.iloc[:,[0,19,20,21,22,23,24,25,26]]

In [32]:
UpStream_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            290 non-null    datetime64[ns]
 1   NG_DO           290 non-null    float64
 2   NG_BOD          290 non-null    float64
 3   NG_COD          290 non-null    float64
 4   NG_SS           290 non-null    float64
 5   NG_TN           290 non-null    float64
 6   NG_TP           290 non-null    float64
 7   NG_Temp         290 non-null    float64
 8   NG_Chl_a        290 non-null    float64
 9   DalS_COD        290 non-null    float64
 10  DalS_SS         290 non-null    float64
 11  DalS_TN         290 non-null    float64
 12  DalS_TP         290 non-null    float64
 13  DalS_Flow_mean  290 non-null    float64
 14  DalS_Flow_day   290 non-null    float64
 15  UiR_Rain        290 non-null    float64
 16  UiR_Solar       290 non-null    float64
dtypes: datetime64[ns](1), float64(16)
memory usage: 38.6 KB

In [33]:
DownStream_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      290 non-null    datetime64[ns]
 1   HP_DO     290 non-null    float64
 2   HP_BOD    290 non-null    float64
 3   HP_COD    290 non-null    float64
 4   HP_SS     290 non-null    float64
 5   HP_TN     290 non-null    float64
 6   HP_TP     290 non-null    float64
 7   HP_Temp   290 non-null    float64
 8   HP_Chl_a  290 non-null    float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 20.5 KB

In [34]:
UpStream_Data = UpStream_Data.set_index('Date')
DownStream_Data = DownStream_Data.set_index('Date')

In [35]:
UpStream_Data.head()

,NG_DO,NG_BOD,NG_COD,NG_SS,NG_TN,NG_TP,NG_Temp,NG_Chl_a,DalS_COD,DalS_SS,DalS_TN,DalS_TP,DalS_Flow_mean,DalS_Flow_day,UiR_Rain,UiR_Solar
Date,,,,,,,,,,,,,,,,
2013-01-04,14.280825,1.393833,4.839123,5.557241,5.127618,0.048337,2.265772,18.796285,8.7,1.0,3.723,0.024,716.1,17187.0,2.0,10.138571
2013-01-10,14.200000,1.300000,4.800000,5.100000,5.150000,0.049000,2.200000,18.900000,7.7,0.8,3.534,0.018,808.4,19402.0,0.0,12.467143
2013-01-17,15.000000,1.400000,5.100000,6.900000,4.977000,0.046000,3.400000,15.000000,8.3,0.9,4.830,0.056,848.3,20360.0,0.0,9.705714
2013-01-24,15.400000,2.200000,5.300000,7.100000,4.592000,0.034000,3.200000,24.700000,7.6,1.0,5.247,0.027,840.5,20173.0,13.5,6.662857
2013-02-07,15.200000,1.100000,4.100000,8.300000,4.130000,0.047000,3.400000,11.100000,7.4,0.8,4.988,0.025,850.8,20420.0,47.2,7.932857

In [36]:
# UpStream_Data.to_excel('NG_Up_data.xlsx', index = True)
# DownStream_Data.to_excel('HP_Down_data.xlsx', index = True)

# Normalize

In [37]:
import pandas as pd
import numpy as np

In [ ]:
Up = pd.read_excel('DS_data.xlsx', index = False)

In [ ]:
Up_B = Up.filter(like='Temp',axis=1)
Up_C = Up.filter(like='Date',axis=1)

In [ ]:
Up_A = Up.drop(['DS_Temp','GumHo_Temp','Date','Door'], axis=1)

In [ ]:
Up_A.columns

In [ ]:
Up_A.min()

In [ ]:
n = 0

for column in Up_A:
    Data = Up_A.iloc[:,n]
    Data = list(Data)
    while min(Data) == 0:
        Data.remove(0)
    none_zero_min = min(Data)/2
    
    for m in range(0,len(Data)):
        if Up_A.iloc[m,n] == 0:
            Up_A.iloc[m,n] = none_zero_min
            
    n += 1
print('\n all done\n')

In [ ]:
Up_A.min()

In [ ]:
Up_A.head()

In [ ]:
Up_A = Up_A.apply(lambda x: np.log(x))

In [ ]:
# Up_A.head()

In [ ]:
result_UP = pd.concat([Up_C, Up_A, Up_B], axis=1, ignore_index=False)

In [ ]:
result_UP.to_excel('DS_Data_edit_log.xlsx', index = False)

In [ ]:
Down = pd.read_excel('NG_data.xlsx', index = False)
Down.min()

In [ ]:
Down = Down.drop(['NG_Temp','NG_Cells'], axis=1)

In [ ]:
Down_data = Down.set_index('Date')

In [ ]:
Down_data = Down_data.apply(lambda x: np.log(x))

In [ ]:
Down_data.head()

In [ ]:
# Down_data.to_excel('NG_Data_edit_log.xlsx')

In [ ]:
# n = 0

# for column in Up:
#     if column == 'DS_DO':
#         print(Up.iloc[:,n])
#         data = Up.iloc[:,n]
#         data = data.apply(lambda x: np.log(x))
#         print(data)

#     n += 1
# #     elif column != 'Date':
# #         Up['DS_DO'].apply(lambda x: np.log(x))
# #     elif row >= 70:
# #         grades.append('C')
# #     else:
# #         grades.append('F')

In [ ]:
# data.head()

In [ ]:
# lst = Up.DS_DO.value_counts(5)

In [ ]:
# for row in df['average']:
#     if row >= 90:
#         grades.append('A')
#     elif row >= 80:
#         grades.append('B')
#     elif row >= 70:
#         grades.append('C')
#     else:
#         grades.append('F')

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

# UpScaler = MinMaxScaler() #상류데이터용
# DownScaler = MinMaxScaler() #하류데이터용

# #나중에 결과를 DeNormalizing 하기 위해 나누어 사용 하였다.

# def DeNormalize(Y, Data_name, column_num, Scaler_Type):
    
#     data = Data_name
#     Scaler = Scaler_Type
    
#     _max = Scaler.data_max_[column_num] # 역정규화 하려는 데이터의 컬럼 번호
#     _min = Scaler.data_min_[column_num] 
    
#     X = Y*(_max-_min) + _min
    
#     return X

In [ ]:
df_log = df['다사_TP(㎎/L)'].apply(lambda x: np.log(x))

In [ ]:
def select_log(row):
    row = np.log(row)
    return row

In [ ]:
Up.DS_DO = Up.DS_DO.apply(lambda x: np.log(x))

In [ ]:
a = 'DS_DO'
Up.a

In [ ]:
Up.head()

In [ ]:
n = 0

for column in Up:
    print(column)
    print(Up.iloc[:,n])
#     if column == 'DS_DO':
#         print(Up.iloc[:,n])
#         data = Up.iloc[:,n]
#         data = data.apply(lambda x: np.log(x))
#         print(data)

    n += 1

In [ ]:
n = 0

for column in Up:
    if column == 'DS_DO':
        print(Up.iloc[:,n])
        data = Up.iloc[:,n]
        data = data.apply(lambda x: np.log(x))
        print(data)

    n += 1
#     elif column != 'Date':
#         Up['DS_DO'].apply(lambda x: np.log(x))
#     elif row >= 70:
#         grades.append('C')
#     else:
#         grades.append('F')

In [ ]:
# if list(Up.DS_DO.unique()) == 0:
#     print('Check')
# else:
#     print('Pass')

In [ ]:
# pd.Series.value_counts(normalize=False, # False면 개수, True면 상대 비율 구함
#                        sort=True, # True면 개수 기준 정렬, False면 유일한 값 기준 정렬
#                        ascending=False, # False면 내림차순 정렬, True면 오름차순 정렬
#                        bins=None, # None이면 유일값 기준 개수, None아니면 Bins Group별 개수
#                        dropna=True # True면 NaN 무시, False면 유일값에 NaN 포함)

In [ ]:
# Up.DS_DO.value_counts(ascending=True) ###################################################

In [ ]:
#################################################################
#################################################################
#################################################################
#################################################################
#################################################################
#################################################################