# Normalize

In [1]:
pwd

'/Users/jinsungpark/Desktop/jupyter'

In [82]:
cd /Users/jinsungpark/Desktop/jupyter/Data_River/original02/DA_DG

/Users/jinsungpark/Desktop/jupyter/Data_river/original02/DA_DG

In [83]:
ls

DA_Up_data.xlsx    DG_Down_data.xlsx

In [84]:
import pandas as pd
import numpy as np

In [85]:
Up = pd.read_excel('DA_Up_data.xlsx', index = False)

In [86]:
Up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        349 non-null    datetime64[ns]
 1   DA_DO       349 non-null    float64
 2   DA_BOD      349 non-null    float64
 3   DA_COD      349 non-null    float64
 4   DA_SS       349 non-null    float64
 5   DA_TN       349 non-null    float64
 6   DA_TP       349 non-null    float64
 7   DA_Temp     349 non-null    float64
 8   DA_Chl_a    349 non-null    float64
 9   DA_Flow     349 non-null    float64
 10  HCh__DO     349 non-null    float64
 11  HCh__BOD    349 non-null    float64
 12  HCh__COD    349 non-null    float64
 13  HCh__SS     349 non-null    float64
 14  HCh__TN     349 non-null    float64
 15  HCh__TP     349 non-null    float64
 16  HCh__Temp   349 non-null    float64
 17  HCh__Chl_a  349 non-null    float64
 18  HCh__Flow   349 non-null    float64
 19  UiR_Rain    349 non-null    float64
 20  UiR_Solar   349 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 57.4 KB

In [87]:
Up_B = Up.filter(like='Temp',axis=1)
Up_C = Up.filter(like='Date',axis=1)

In [88]:
Up_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DA_Temp    349 non-null    float64
 1   HCh__Temp  349 non-null    float64
dtypes: float64(2)
memory usage: 5.6 KB

In [89]:
# Up_A = Up.drop(['DS_Temp','GumHo_Temp','Date','Door'], axis=1)
# Up_A = Up.drop(['NG_Temp','Date'], axis=1)
# Up_A = Up.drop(['HP_Temp','ChaCh_Temp','Date'], axis=1)
Up_A = Up.drop(['DA_Temp','HCh__Temp','Date'], axis=1)

In [90]:
Up_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DA_DO       349 non-null    float64
 1   DA_BOD      349 non-null    float64
 2   DA_COD      349 non-null    float64
 3   DA_SS       349 non-null    float64
 4   DA_TN       349 non-null    float64
 5   DA_TP       349 non-null    float64
 6   DA_Chl_a    349 non-null    float64
 7   DA_Flow     349 non-null    float64
 8   HCh__DO     349 non-null    float64
 9   HCh__BOD    349 non-null    float64
 10  HCh__COD    349 non-null    float64
 11  HCh__SS     349 non-null    float64
 12  HCh__TN     349 non-null    float64
 13  HCh__TP     349 non-null    float64
 14  HCh__Chl_a  349 non-null    float64
 15  HCh__Flow   349 non-null    float64
 16  UiR_Rain    349 non-null    float64
 17  UiR_Solar   349 non-null    float64
dtypes: float64(18)
memory usage: 49.2 KB

In [91]:
Up_A.min()

DA_DO         7.100000
DA_BOD        0.800000
DA_COD        4.900000
DA_SS         0.300000
DA_TN         1.647000
DA_TP         0.017000
DA_Chl_a      3.000000
DA_Flow       0.000000
HCh__DO       6.800000
HCh__BOD      0.300000
HCh__COD      2.100000
HCh__SS       0.300000
HCh__TN       0.696000
HCh__TP       0.006000
HCh__Chl_a    0.900000
HCh__Flow     0.258000
UiR_Rain      0.000000
UiR_Solar     4.654286
dtype: float64

In [96]:
n = 0

for column in Up_A:
    Data = Up_A.iloc[:,n]
    Data = list(Data)
    while min(Data) == 0:
        Data.remove(0)
    none_zero_min = min(Data)/2
    
    for m in range(0,len(Data)):
        if Up_A.iloc[m,n] == 0:
            Up_A.iloc[m,n] = none_zero_min
            
    n += 1
print('\n all done\n')

 all done

In [97]:
Up_A.min()

DA_DO         7.100000
DA_BOD        0.800000
DA_COD        4.900000
DA_SS         0.300000
DA_TN         1.647000
DA_TP         0.017000
DA_Chl_a      3.000000
DA_Flow       0.158500
HCh__DO       6.800000
HCh__BOD      0.300000
HCh__COD      2.100000
HCh__SS       0.300000
HCh__TN       0.696000
HCh__TP       0.006000
HCh__Chl_a    0.900000
HCh__Flow     0.258000
UiR_Rain      0.012500
UiR_Solar     4.654286
dtype: float64

In [98]:
Up_A.head()

,DA_DO,DA_BOD,DA_COD,DA_SS,DA_TN,DA_TP,DA_Chl_a,DA_Flow,HCh__DO,HCh__BOD,HCh__COD,HCh__SS,HCh__TN,HCh__TP,HCh__Chl_a,HCh__Flow,UiR_Rain,UiR_Solar
0,16.60000,2.700000,5.500000,6.000000,4.586000,0.044000,24.80000,42.589,15.000000,0.300000,2.100000,0.900000,3.073000,0.025000,1.300000,4.509000,0.05,11.532857
1,15.80000,2.300000,5.900000,6.900000,4.774000,0.042000,27.10000,126.159,14.400000,0.400000,2.700000,1.700000,3.121000,0.025000,1.400000,3.963000,0.05,11.044286
2,15.42638,2.509935,5.745095,6.075851,4.941769,0.044651,26.63174,45.058,14.301921,0.667302,2.681555,1.317642,2.981284,0.027876,2.018124,4.801446,13.00,8.855714
3,14.20000,2.300000,5.800000,12.000000,5.248000,0.041000,22.20000,154.652,13.900000,1.200000,2.800000,3.100000,2.859000,0.023000,1.600000,4.724000,0.50,9.954286
4,14.90000,1.900000,5.400000,6.300000,5.113000,0.052000,20.30000,284.465,13.900000,0.600000,4.100000,8.000000,2.872000,0.041000,2.800000,13.662000,46.00,8.617143

In [99]:
Up_A = Up_A.apply(lambda x: np.log(x))

In [100]:
Up_A.head()

,DA_DO,DA_BOD,DA_COD,DA_SS,DA_TN,DA_TP,DA_Chl_a,DA_Flow,HCh__DO,HCh__BOD,HCh__COD,HCh__SS,HCh__TN,HCh__TP,HCh__Chl_a,HCh__Flow,UiR_Rain,UiR_Solar
0,2.809403,0.993252,1.704748,1.791759,1.523008,-3.123566,3.210844,3.751596,2.708050,-1.203973,0.741937,-0.105361,1.122654,-3.688879,0.262364,1.506075,-2.995732,2.445200
1,2.760010,0.832909,1.774952,1.931521,1.563185,-3.170086,3.299534,4.837543,2.667228,-0.916291,0.993252,0.530628,1.138153,-3.688879,0.336472,1.377001,-2.995732,2.401913
2,2.736079,0.920257,1.748346,1.804322,1.597723,-3.108879,3.282104,3.807951,2.660394,-0.404512,0.986397,0.275844,1.092354,-3.579984,0.702168,1.568917,2.564949,2.181063
3,2.653242,0.832909,1.757858,2.484907,1.657847,-3.194183,3.100092,5.041177,2.631889,0.182322,1.029619,1.131402,1.050472,-3.772261,0.470004,1.552656,-0.693147,2.298003
4,2.701361,0.641854,1.686399,1.840550,1.631786,-2.956512,3.010621,5.650610,2.631889,-0.510826,1.410987,2.079442,1.055009,-3.194183,1.029619,2.614618,3.828641,2.153754

In [101]:
result_UP = pd.concat([Up_C, Up_A, Up_B], axis=1, ignore_index=False)

In [102]:
result_UP.head()

,Date,DA_DO,DA_BOD,DA_COD,DA_SS,DA_TN,DA_TP,DA_Chl_a,DA_Flow,HCh__DO,...,HCh__COD,HCh__SS,HCh__TN,HCh__TP,HCh__Chl_a,HCh__Flow,UiR_Rain,UiR_Solar,DA_Temp,HCh__Temp
0,2013-01-07,2.809403,0.993252,1.704748,1.791759,1.523008,-3.123566,3.210844,3.751596,2.708050,...,0.741937,-0.105361,1.122654,-3.688879,0.262364,1.506075,-2.995732,2.445200,2.600000,2.800000
1,2013-01-14,2.760010,0.832909,1.774952,1.931521,1.563185,-3.170086,3.299534,4.837543,2.667228,...,0.993252,0.530628,1.138153,-3.688879,0.336472,1.377001,-2.995732,2.401913,2.700000,3.200000
2,2013-01-21,2.736079,0.920257,1.748346,1.804322,1.597723,-3.108879,3.282104,3.807951,2.660394,...,0.986397,0.275844,1.092354,-3.579984,0.702168,1.568917,2.564949,2.181063,2.990702,4.086154
3,2013-01-28,2.653242,0.832909,1.757858,2.484907,1.657847,-3.194183,3.100092,5.041177,2.631889,...,1.029619,1.131402,1.050472,-3.772261,0.470004,1.552656,-0.693147,2.298003,3.500000,4.900000
4,2013-02-04,2.701361,0.641854,1.686399,1.840550,1.631786,-2.956512,3.010621,5.650610,2.631889,...,1.410987,2.079442,1.055009,-3.194183,1.029619,2.614618,3.828641,2.153754,3.700000,4.500000

In [103]:
# result_UP.to_excel('DA_Up_log.xlsx', index = False)

In [104]:
Down = pd.read_excel('DG_Down_data.xlsx', index = False)
Down.min()

Date        2013-01-07 00:00:00
DG_DO                       3.6
DG_BOD                      0.7
DG_COD                        3
DG_SS                       1.6
DG_TN                     1.434
DG_TP                     0.015
DG_Temp                     1.5
DG_Chl_a                    1.7
dtype: object

In [105]:
Down = Down.drop(['DG_Temp'], axis=1)

In [106]:
Down_data = Down.set_index('Date')

In [107]:
Down_data.head()

,DG_DO,DG_BOD,DG_COD,DG_SS,DG_TN,DG_TP,DG_Chl_a
Date,,,,,,,
2013-01-07,15.600000,1.200000,3.000000,14.900000,3.621000,0.055000,2.300000
2013-01-14,15.300000,0.700000,3.200000,1.700000,3.659000,0.021000,1.700000
2013-01-21,15.289726,1.536409,4.391344,12.505089,3.967596,0.037733,11.654622
2013-01-28,15.400000,2.300000,5.800000,5.100000,4.199000,0.031000,20.500000
2013-02-04,14.500000,1.300000,5.700000,8.600000,4.670000,0.050000,20.700000

In [108]:
Down_data = Down_data.apply(lambda x: np.log(x))

In [109]:
Down_data.head()

,DG_DO,DG_BOD,DG_COD,DG_SS,DG_TN,DG_TP,DG_Chl_a
Date,,,,,,,
2013-01-07,2.747271,0.182322,1.098612,2.701361,1.286750,-2.900422,0.832909
2013-01-14,2.727853,-0.356675,1.163151,0.530628,1.297190,-3.863233,0.530628
2013-01-21,2.727181,0.429448,1.479635,2.526136,1.378160,-3.277230,2.455703
2013-01-28,2.734368,0.832909,1.757858,1.629241,1.434846,-3.473768,3.020425
2013-02-04,2.674149,0.262364,1.740466,2.151762,1.541159,-2.995732,3.030134

In [110]:
# Down_data.to_excel('DG_Down_log.xlsx')

In [ ]:
# n = 0

# for column in Up:
#     if column == 'DS_DO':
#         print(Up.iloc[:,n])
#         data = Up.iloc[:,n]
#         data = data.apply(lambda x: np.log(x))
#         print(data)

#     n += 1
# #     elif column != 'Date':
# #         Up['DS_DO'].apply(lambda x: np.log(x))
# #     elif row >= 70:
# #         grades.append('C')
# #     else:
# #         grades.append('F')

In [ ]:
# data.head()

In [ ]:
# lst = Up.DS_DO.value_counts(5)

In [ ]:
# for row in df['average']:
#     if row >= 90:
#         grades.append('A')
#     elif row >= 80:
#         grades.append('B')
#     elif row >= 70:
#         grades.append('C')
#     else:
#         grades.append('F')

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

# UpScaler = MinMaxScaler() #상류데이터용
# DownScaler = MinMaxScaler() #하류데이터용

# #나중에 결과를 DeNormalizing 하기 위해 나누어 사용 하였다.

# def DeNormalize(Y, Data_name, column_num, Scaler_Type):
    
#     data = Data_name
#     Scaler = Scaler_Type
    
#     _max = Scaler.data_max_[column_num] # 역정규화 하려는 데이터의 컬럼 번호
#     _min = Scaler.data_min_[column_num] 
    
#     X = Y*(_max-_min) + _min
    
#     return X

In [ ]:
df_log = df['다사_TP(㎎/L)'].apply(lambda x: np.log(x))

In [ ]:
def select_log(row):
    row = np.log(row)
    return row

In [ ]:
Up.DS_DO = Up.DS_DO.apply(lambda x: np.log(x))

In [ ]:
a = 'DS_DO'
Up.a

In [ ]:
Up.head()

In [ ]:
n = 0

for column in Up:
    print(column)
    print(Up.iloc[:,n])
#     if column == 'DS_DO':
#         print(Up.iloc[:,n])
#         data = Up.iloc[:,n]
#         data = data.apply(lambda x: np.log(x))
#         print(data)

    n += 1

In [ ]:
n = 0

for column in Up:
    if column == 'DS_DO':
        print(Up.iloc[:,n])
        data = Up.iloc[:,n]
        data = data.apply(lambda x: np.log(x))
        print(data)

    n += 1
#     elif column != 'Date':
#         Up['DS_DO'].apply(lambda x: np.log(x))
#     elif row >= 70:
#         grades.append('C')
#     else:
#         grades.append('F')

In [ ]:
# if list(Up.DS_DO.unique()) == 0:
#     print('Check')
# else:
#     print('Pass')

In [ ]:
# pd.Series.value_counts(normalize=False, # False면 개수, True면 상대 비율 구함
#                        sort=True, # True면 개수 기준 정렬, False면 유일한 값 기준 정렬
#                        ascending=False, # False면 내림차순 정렬, True면 오름차순 정렬
#                        bins=None, # None이면 유일값 기준 개수, None아니면 Bins Group별 개수
#                        dropna=True # True면 NaN 무시, False면 유일값에 NaN 포함)

In [ ]:
# Up.DS_DO.value_counts(ascending=True) ###################################################

In [ ]:
#################################################################
#################################################################
#################################################################
#################################################################
#################################################################
#################################################################